altair
pandas
streamlit
ipykernel
ipython
jupyter-client
jupyter-core
pip-tools==5.4.0
pylint
flake8
pandas
pytest
langchain_openai
streamlit
pandas
openpyxl
chromadb
langchain==0.1.6
langchain-community==0.0.19
